
PORT=3001

# ===== Database =====
DB_NAME=auth
DB_USER=auth
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=35432

# ===== Redis =====
REDIS_URL=redis://localhost:36379
REDIS_HOST=localhost
REDIS_PORT=36379
REDIS_KEY=REDIS_KEY

# ===== SECRET =====
REFRESH_TOKEN_SECRET=REFRESH_TOKEN_SECRET
ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET



APP_URL=http://localhost:3001

FRONTEND_URL=http://localhost:3000
